:root {
  --main-blue-color: #695DED;
  --main-text-color: #201E20;
  --main-title-color: #4F646F;
  --main-bg-color: #F4FAFF;
  --main-yellow-color: #d07d2f;
  --main-back-color: #e9e9e9;
}

@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
  background-color: var(--main-bg-color) !important;
  font-family: 'Ubuntu', serif !important;
}

.navlink {
  z-index: 99;
  position: fixed;
  width: 100%;
  transform: translate(-1.5%, 150%);
  transition: 0.3s;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  color: var(--main-yellow-color);
}

.navlink li {
  list-style-type: none;
  flex: 1;
}

.navlink li a {
  color: var(--main-yellow-color);
  font-size: 1rem;
  text-decoration: none;
}

.navlink li:nth-child(1) {
  transform: rotate(4deg);
  margin-top: -12px;
}

.navlink li:nth-child(2) {
  transform: rotate(1deg);
  margin-top: -4px;
}

.navlink li:nth-child(3) {
  transform: rotate(.5deg);
  margin-top: -2.5px;
}

.navlink li:nth-child(4) {
  transform: rotate(-.5deg);
  margin-top: -2.5px;
}

.navlink li:nth-child(5) {
  transform: rotate(-1deg);
  margin-top: -4px;
}

.navlink li:nth-child(6) {
  transform: rotate(-4deg);
  margin-top: -12px;
}

@media only screen and (max-width: 768px) {
  .navlink {
    display: none;
  }

  .overlay {
    -webkit-transform: scale(1) !important;
    -ms-transform: scale(1) !important;
    transform: scale(1) !important;
  }

  #Home {
    background: linear-gradient(rgba(0, 0, 0, 0.675), rgba(0, 0, 0, 0.675)), url('./Images/22.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    background-attachment: local;
  }




}

@media only screen and (min-width: 768px) {
  .humburgerm-icon {
    display: none;
  }

}

/*================================HumburgerMenu============================== */
.HumNavlink li {
  list-style-type: none;
  margin: auto auto;
}

.HumNavlink {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 70%;
  height: 35%;
  z-index: 100;
  background-color: var(--main-text-color);
  position: fixed;
  margin: auto auto;
  /* text-align: center; */
  top: -50%;
  left: 15%;
  border-radius: 5%;
  transition: .3s;
}

.HumNavlink a {
  color: var(--main-yellow-color);
}

.humburgerm-icon {
  position: fixed;
  top: 1.5%;
  width: 100%;
  text-align: center;
  z-index: 99;
  /* left: 50%; */
  /* width: 10%;
  height: 10%; */
}

/*==========================================================================*/


.navimg {
  max-width: 100%;
  min-height: 600px;
  background: linear-gradient(rgba(0, 0, 0, 0.675), rgba(0, 0, 0, 0.675)), url('./Images/2.jpg');
  background-position: 53%;
  background-size: cover;
  position: relative;
  overflow: hidden;
  background-attachment: fixed;
}

.navimg:after,
.navimg:before {
  content: '';
  background: var(--main-bg-color);
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 50px;
  border-radius: 0 0 50% 50%;

}

.navimg:before {
  background: var(--main-text-color);
  border-bottom: 3px solid var(--main-blue-color);
  z-index: 98;
}

.navimg:after {
  position: absolute;
  top: auto;
  bottom: -2%;
  border-radius: 50% 50% 0 0;
}


.mijn-img {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -55%);
  height: 160px;
  width: 160px;
  border-radius: 50%;
  animation: shadow-pulse 1.7s infinite;
  transition: all .3s ease-out;
}

@keyframes shadow-pulse {
  50% {
    box-shadow: 0 0 0 0px var(--main-blue-color);
  }

  100% {
    box-shadow: 0 0 0 25px transparent;
  }
}

.mijn-img:hover {
  height: 180px;
  width: 180px;
  animation: none;
  filter: brightness(105%);
}

.btn-cv {
  font-size: 1.4rem;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -65%);
  transition: 0.3s;
}

.img-title {
  font-size: 1.5rem;
  color: var(--main-yellow-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  text-align: center;
}

/*===========================================================================*/
.info-title {
  color: var(--main-text-color);
}

/*===============================Main=======================================*/

.title {
  color: var(--main-blue-color);
  text-align: center;
  font-weight: 900;
  font-size: 3rem;
}

.container {
  width: 100%;
  margin: 10% auto;
}

.card-body {
  background-color: var(--main-back-color);
}

.card {
  background-color: var(--main-back-color) !important;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: .25rem;
  box-shadow: 3px 3px 20px 5px var(--main-text-color) !important;
}
.adminpanel-card{
  width: 70%;
  margin: 10% auto;
}
.adminpanel-card button{
  color: var(--main-text-color);
  background-color: var(--main-yellow-color);
}

/*============================Experiences=======================================*/

.progress-container .progress-badge {
  color: var(--main-text-color);
  text-transform: uppercase;
}

.progress-container {
  margin-bottom: 20px;
  font-size: 18px;
}

.progress-container.progress-primary .progress {
  background: main-text-color;
}

.progress-container .progress {
  height: 5px;
  font-size: 18px;
}

.progress-container .progress-bar {
  background-color: var(--main-title-color);
}

.progress-container .progress-value {
  position: absolute;
  top: 2px;
  right: 0;
  color: var(--main-text-color);
  font-size: 0.8571em;
}

/*================================Projects========================================*/
.overlay {
  padding-top: 8%;
  position: absolute;
  top: 2.5%;
  left: 2.5%;
  transform: translate(-45%, -55%);
  background-color: rgba(0, 0, 0, 0.671);
  width: 95%;
  height: 95%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.overlay h4 {
  margin-top: 1%;
  color: var(--main-bg-color);
}

.overlay p {
  color: var(--main-yellow-color);
}

.overlay a {
  margin-top: 1%;
  color: var(--main-blue-color);
  font-style: italic;
}

.cc-effect:hover .overlay {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.gallery .cc-porfolio-image figure img {
  position: relative;
  display: block;
  max-width: 100%;
  opacity: 1;
}


.gallery .cc-porfolio-image figure {
  position: relative;
  overflow: hidden;
  text-align: center;
  
  
}

/*==============================Education=======================================*/

.education-header {
  text-align: center;
  color: var(--main-text-color);
  text-transform: uppercase;
  background-color: var(--main-yellow-color);
  height: 100%;
}

/*==============================Contact======================================*/
.gmap_canvas {
  overflow: hidden;
}

.mapouter {
  width: 100%;
  height: 100vh;
  position: absolute;
  text-align: right;
  filter: grayscale(20%) invert(92%) contrast(83%);
}

.form-components input,
textarea {
  margin: 10px auto !important;
  width: 90%;
  border-radius: 50px;
  border: 1px solid var(--main-title-color);
  font-weight: bold;
  padding: 15px;
}

.form-components label {
  color: var(--main-title-color);
  font-weight: bold;
  margin: 10px auto;
}

.form button {
  width: 40%;
  margin: 20px auto !important;
}

.form-components button {
  border-radius: 50px !important;
  background-color: var(--main-yellow-color) !important;
  color: var(--main-bg-color) !important;
}

.form-components {
  display: flex;
  flex-direction: column;
}

.form-div {
  width: 70%;
  margin: 10px auto;
}

/*=============================Footer====================================*/
.footer {
  z-index: 100;
  position: fixed;
  top: 85%;
  width: 100%;
  background-color: var(--main-text-color);
  height: 150px;
  text-align: center;
  transition: .3s;

}

.footer h4 {
  color: var(--main-yellow-color);
  font-weight: bold;
}

.footer:before {
  content: '';
  background: var(--main-text-color);
  position: absolute;
  top: auto;
  left: 0;
  width: 100%;
  height: 50px;
  transform: translate(0, -90%);
  border-radius: 50% 50% 0 0;
  border-top: 3px solid var(--main-blue-color);
}

.icons {
  width: 10%;
  margin: 1px auto;
  color: var(--main-blue-color);
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: space-evenly;
}
.skel-exp {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: space-evenly;
}
